body { background-color: #FFCCCC; color:#000000;}
h1 { background-color:#FFFFFF; color:#000000;}
body { font-family: Verdana, Arial, sans-serif;}
h1 { font-family: Verdana, Arial, sans-serif;}
h2 { font-family: Verdana, Arial, sans-serif;}
h2 { background-color:#FFFFFF; color:#000000;}