body { background-color: #FFFFFF; color:#000000;
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;}

h1 { background-color:#FFCCFF; color:#FFFFFF;
    padding: 30px;
    font-size: 40px;
    text-align: center;}

   
      
h2 { background-color:#F1F1F1; color:#000000; 
    text-align: center;
    padding: 10px;
}

.largeImg {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
   overflow: auto;
}


h3{ color:#FFCC99;}




