<style>
body { background-color: #FFCCCC; color:#000000 }
h1 { background-color:#FFFFFF;}
p { border: 2px solid #FFF; }
h2,h3 { font-family: Georgia, 'Times New Roman', Times, serif; }
body { font-family: Verdana, Arial, sans-serif;}
h1 { font-family: Verdana, Arial, sans-serif;}
h2 { font-family: Verdana, Arial, sans-serif;}
</style> 